html {
  background-color: blueviolet;
}
.container-fluid{
  background-color: blueviolet;
}
input[type='text']{
  background: transparent;
  color: white;
}
input[type='text']:focus{
  background: transparent;
  color: white;
}